## **Experiment 3: Ungrouped Data**

In [ ]:
import pandas as pd

In [ ]:
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.25.2)

In [ ]:
from scipy.stats import pearsonr

In [ ]:
data = pd.read_csv("/content/dairy_dataset.csv")
# print(data)

In [ ]:
temp = data.iloc[1:11]
print(temp)

          Location  Total Land Area (acres)  Number of Cows Farm Size  \
1    Uttar Pradesh                    19.19              44     Large
2       Tamil Nadu                   581.69              24    Medium
3        Telangana                   908.00              89     Small
4      Maharashtra                   861.95              21    Medium
5        Telangana                    87.64              51    Medium
6        Karnataka                    73.28              74     Small
7            Bihar                    67.61              77    Medium
8      West Bengal                    72.31              76    Medium
9        Telangana                   413.24              36     Large
10  Madhya Pradesh                   867.78              82     Small

          Date  Product ID Product Name                 Brand  \
1   2021-12-01           1         Milk                  Amul
2   2022-02-28           4       Yogurt           Dodla Dairy
3   2019-06-09           3       Cheese  Britannia Industries
4   2020-12-14           8   Buttermilk          Mother Dairy
5   2019-01-07           6         Curd                   Raj
6   2022-08-05           3       Cheese       Dynamix Dairies
7   2019-02-14           9       Paneer          Mother Dairy
8   2020-08-02           6         Curd                   Raj
9   2022-03-04           8   Buttermilk          Mother Dairy
10  2021-12-22           4       Yogurt           Dodla Dairy

    Quantity (liters/kg)  Price per Unit  ...  Production Date  \
1                 687.48           42.61  ...       2021-10-03
2                 503.48           36.50  ...       2022-01-14
3                 823.36           26.52  ...       2019-05-15
4                 147.77           83.85  ...       2020-10-17
5                 593.92           85.54  ...       2019-01-03
6                 757.14           36.83  ...       2022-06-14
7                 203.36           29.08  ...       2019-01-06
8                 949.12           22.79  ...       2020-06-06
9                 385.64           42.08  ...       2022-02-03
10                 52.62           67.23  ...       2021-11-02

    Expiration Date Quantity Sold (liters/kg) Price per Unit (sold)  \
1        2021-10-25                       558                 39.24
2        2022-02-13                       256                 33.81
3        2019-07-26                       601                 28.92
4        2020-10-28                       145                 83.07
5        2019-01-08                        74                 84.75
6        2022-09-05                       410                 32.66
7        2019-01-20                        15                 29.09
8        2020-06-12                       860                 24.77
9        2022-02-12                       108                 46.15
10       2021-11-26                        22                 68.09

   Approx. Total Revenue(INR)  Customer Location  Sales Channel  \
1                    21895.92             Kerala      Wholesale
2                     8655.36     Madhya Pradesh         Online
3                    17380.92          Rajasthan         Online
4                    12045.15          Jharkhand         Retail
5                     6271.50            Gujarat         Retail
6                    13390.60          Karnataka         Online
7                      436.35            Haryana         Online
8                    21302.20          Jharkhand      Wholesale
9                     4984.20         Tamil Nadu         Retail
10                    1497.98             Kerala      Wholesale

    Quantity in Stock (liters/kg) Minimum Stock Threshold (liters/kg)  \
1                             129                               43.17
2                             247                               15.10
3                             222                               74.50
4                               2                               76.02
5                             519                               55.60
6                             347                               49.82
7                             188                               10.90
8                              89                               85.71
9                             277                               93.61
10                             30                               81.34

   Reorder Quantity (liters/kg)
1                        181.10
2                        140.83
3                         57.68
4                         33.40
5                        139.59
6                        105.86
7                         25.14
8                         32.03
9                         66.26
10                       118.57

[10 rows x 23 columns]

In [ ]:
Area = temp['Quantity Sold (liters/kg)']
Yield = temp['Price per Unit (sold)']

In [ ]:
# calculate Pearson's correlation
corr, _ = pearsonr(Area, Yield)
print('Pearsons correlation: %.3f' % corr)

if corr > 0.75:
  print("Highly Correlated")
elif 0.3 < corr > 0.75:
  print("Moderate Correlaton")
else:
  print("Very low Correlation")

Pearsons correlation: -0.594
Very low Correlation

# **For Grouped Data**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
gr_data = pd.read_csv("/content/Grouped_Data_Exp3_Shubham.csv")
print(gr_data)
mat = gr_data.to_numpy()
# print(mat)
# print(mat[:,0])

  Quantity Sold (liters/kg)_grp / Price per Unit (sold)_grp  0 - 20  20 - 40  \
0                                            0 - 200            257      489
1                                          200 - 400            128      257
2                                          400 - 600             78      118
3                                          600 - 800             24       66
4                                           800-1000             11       17

   40 - 60  60 - 80  80-100
0      511      477     475
1      235      234     236
2      150      128     128
3       68       63      53
4       25       17      19

In [ ]:
# finding Midpoint and Differences for X columns
def split_mean(x):
  # split before and after the hyphen (-)
  split_num = x.split("-")
  if len(split_num) == 2:
     return (float(split_num[0])+float(split_num[1]))/2
  else:
     return float(x)

row = []
diff_x = []
temp = mat[:,0]
row_len = len(mat[:,0])
for i in range(0,row_len):
  row.append(split_mean(temp[i]))
  split_num = temp[i].split("-")
  diff_x.append(float(split_num[1])-float(split_num[0]))
  # print(temp[i])
print(row)
print(diff_x)

[100.0, 300.0, 500.0, 700.0, 900.0]
[200.0, 200.0, 200.0, 200.0, 200.0]

In [ ]:
# finding Midpoint and Differences for X columns

# print(len(list(gr_data)))
length = len(list(gr_data))
list_col = (list(gr_data))
col = []
diff_y = []
for i in range(1,length):
  col.append(split_mean(list_col[i]))
  split_num = list_col[i].split("-")
  diff_y.append(float(split_num[1])-float(split_num[0]))
  # print(list_col[i])
print(col)
print(diff_y)

[10.0, 30.0, 50.0, 70.0, 90.0]
[20.0, 20.0, 20.0, 20.0, 20.0]

In [ ]:
# Assumed value
Ax = row[int((len(row)/2))]
print(Ax)
len_r = len(row)
Ay = col[int((len(col)/2))]
print(Ay)

# Calculating Dx for rows
dx = []
for i in range(0,len_r):
  dx.append((row[i]-Ax)/diff_x[i])

# Calculating Dy for cols
dy=[]
for i in range(0,len_r):
  dy.append((col[i]-Ay)/diff_y[i])

print(dx)
print(dy)

500.0
50.0
[-2.0, -1.0, 0.0, 1.0, 2.0]
[-2.0, -1.0, 0.0, 1.0, 2.0]

In [ ]:
# calculating Frequency

Fx = []
Fy = []


for i in range(0,len_r):
  temp = mat[i,1:]
  sum = 0
  for j in temp:
    sum = sum + j
  Fx.append(sum)


for i in range(1,length):
  temp = mat[:,i]
  # print(temp)
  sum = 0
  for j in temp:
    sum = sum + j
  Fy.append(sum)

print(Fx)
print(Fy)

[2209, 1090, 602, 274, 89]
[498, 947, 989, 919, 911]

In [ ]:
N = 0

for i in Fx:
  N = N + i
print(N)

4264

In [ ]:
F_dx = 0
F_dx2 = 0
F_dy = 0
F_dy2 = 0

# Calculating fdx for X columns
for i in range(0,len_r):
  fx = Fx[i]*dx[i]
  fx2 = Fx[i]*dx[i]**2
  F_dx = F_dx + fx
  F_dx2 = F_dx2 + fx2
print(F_dx,F_dx2)


# calculating fdy for Y Columns
for i in range(0,len_r):
  fy = Fy[i]*dy[i]
  fy2 = Fy[i]*dy[i]**2
  F_dy = F_dy + fy
  F_dy2 = F_dy2 + fy2
print(F_dy,F_dy2)

-5056.0 10556.0
798.0 7502.0

In [ ]:
# Calculating F_dx_dy
F_dx_dy = 0

for i in range(0,len_r):
  fdxdy = Fx[i]*dx[i]*dy[i]
  F_dx_dy = F_dx_dy + fdxdy
print(F_dx_dy)

10556.0

In [ ]:
r = (F_dx_dy - ((F_dx*F_dy)/N))/((F_dx-((pow(F_dx,2))/N))*(F_dy-((pow(F_dy,2))/N)))

print('Pearsons correlation:' , r)

if r > 0.75:
  print("Highly Correlated")
elif 0.3 < r > 0.75:
  print("Moderate Correlaton")
else:
  print("Very low Correlation")

Pearsons correlation: -0.0016045811540962161
Very low Correlation